<launch>
        <arg name="node_start_delay" default="1.0" />
        
        <!-- Combine pointcloud from depth cameras -->
        <node pkg="depth_combine" name="combine" type="combine" />

        <!-- Segment ground and obstacle point cloud as /ground_cloud and /obs_cloud -->
        <node pkg="depth_combine" name="ground_segmentation" type="ground_segment" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
                <param name="distanceThreshold" value="0.11" />
        </node>

        <!-- Combine /obs_cloud with pointcloud from velodyne for /obstacle -->
        <node pkg="depth_combine" name="obs_combine" type="obs_combine" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
                <remap from="/velodyne_points" to="/upper_velodyne_vlp16/depth/points" /> -->
        </node>

        <!-- **REQUIRES octomap_server package built** -->
        <include file="$(find octomap_server)/launch/octomap_mapping.launch" />

        <!-- Launch Rviz for visualization -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find depth_combine)/rviz/rviz_config.rviz" />

</launch>